main div:nth-child(1) {
	background: #cfa983;
  }
  
  main div:nth-child(2) {
	background: #8331ff;
  }
  
  main div:nth-child(3) {
	background: #ff5950;
  }
  
  main div:nth-child(4) {
	background: #689890;
  }
  
  main div:nth-child(5) {
	background: #0ff435;
  }
  
  main div:nth-child(6) {
	background: #494341;
  }
  
  main div:nth-child(7) {
	background: #6d5955;
  }
  
  main div:nth-child(8) {
	background: #9ff892;
  }
  
  main div:nth-child(9) {
	background: #bae36f;
  }
  
  main div:nth-child(10) {
	background: #c2eeef;
  }
  
  main div:nth-child(11) {
	background: #49629f;
  }
  
  main div:nth-child(12) {
	background: #a541f6;
  }
  
  main div:nth-child(13) {
	background: #24c014;
  }
  
  main div:nth-child(14) {
	background: #a3a32f;
  }
  
  main div:nth-child(15) {
	background: #136692;
  }
  
  main div:nth-child(16) {
	background: #8706e3;
  }
  
  main div:nth-child(17) {
	background: #e98284;
  }
  
  main div:nth-child(18) {
	background: #29ff5f;
  }
  
  main div:nth-child(19) {
	background: #0a1503;
  }
  
  main div:nth-child(20) {
	background: #82b434;
  }
  
  main div:nth-child(21) {
	background: #ae63d4;
  }
  
  main div:nth-child(22) {
	background: #02475c;
  }
  
  main div:nth-child(23) {
	background: #47eb5a;
  }
  
  main div:nth-child(24) {
	background: #59ec66;
  }
  
  main div:nth-child(25) {
	background: #f277a8;
  }
  
  main div:nth-child(26) {
	background: #a96102;
  }
  
  main div:nth-child(27) {
	background: #59dfcd;
  }
  
  main div:nth-child(28) {
	background: #05c345;
  }
  
  main div:nth-child(29) {
	background: #ef2aa2;
  }
  
  main div:nth-child(30) {
	background: #72a5de;
  }
  
  main div:nth-child(31) {
	background: #d1c6a8;
  }
  
  main div:nth-child(32) {
	background: #2ec5eb;
  }
  
  main div:nth-child(33) {
	background: #f73a62;
  }
  
  main div:nth-child(34) {
	background: #b81b2b;
  }
  
  main div:nth-child(35) {
	background: #176814;
  }
  
  main div:nth-child(36) {
	background: #20dced;
  }
  
  main div:nth-child(37) {
	background: #6cf8f3;
  }
  
  main div:nth-child(38) {
	background: #b8b053;
  }
  
  main div:nth-child(39) {
	background: #80fb92;
  }
  
  main div:nth-child(40) {
	background: #364b7e;
  }
  
  main div:nth-child(41) {
	background: #e20f9f;
  }
  
  main div:nth-child(42) {
	background: #217d89;
  }
  
  main div:nth-child(43) {
	background: #3bbcbb;
  }
  
  main div:nth-child(44) {
	background: #79ab17;
  }
  
  main div:nth-child(45) {
	background: #fcfe8d;
  }
  
  main div:nth-child(46) {
	background: #27c94d;
  }
  
  main div:nth-child(47) {
	background: #db6aae;
  }
  
  main div:nth-child(48) {
	background: #88501e;
  }
  
  main div:nth-child(49) {
	background: #5235a0;
  }
  
  main div:nth-child(50) {
	background: #88d179;
  }
  
  main div:nth-child(51) {
	background: #ff4dd2;
  }
  
  main div:nth-child(52) {
	background: #bc0cd2;
  }
  
  main div:nth-child(53) {
	background: #2b9136;
  }
  
  main div:nth-child(54) {
	background: #0d4352;
  }
  
  main div:nth-child(55) {
	background: #87c3dd;
  }
  
  main div:nth-child(56) {
	background: #bb53aa;
  }
  
  main div:nth-child(57) {
	background: #361561;
  }
  
  main div:nth-child(58) {
	background: #4d6389;
  }
  
  main div:nth-child(59) {
	background: #4ce0e7;
  }
  
  main div:nth-child(60) {
	background: #546159;
  }
  
  main div:nth-child(61) {
	background: #93f52c;
  }
  
  main div:nth-child(62) {
	background: #6827cd;
  }
  
  main div:nth-child(63) {
	background: #78e715;
  }
  
  main div:nth-child(64) {
	background: #861101;
  }
  
  main div:nth-child(65) {
	background: #ef62cf;
  }
  
  main div:nth-child(66) {
	background: #fbee9b;
  }
  
  main div:nth-child(67) {
	background: #a3dfea;
  }
  
  main div:nth-child(68) {
	background: #d822c4;
  }
  
  main div:nth-child(69) {
	background: #aff5d8;
  }
  
  main div:nth-child(70) {
	background: #2acfd9;
  }
  
  main div:nth-child(71) {
	background: #917f12;
  }
  
  main div:nth-child(72) {
	background: #cbe2d8;
  }
  
  main div:nth-child(73) {
	background: #89fe28;
  }
  
  main div:nth-child(74) {
	background: #abedc4;
  }
  
  main div:nth-child(75) {
	background: #f1d1e7;
  }
  
  main div:nth-child(76) {
	background: #eab1bf;
  }
  
  main div:nth-child(77) {
	background: #a34e72;
  }
  
  main div:nth-child(78) {
	background: #51deff;
  }
  
  main div:nth-child(79) {
	background: #f34e0c;
  }
  
  main div:nth-child(80) {
	background: #fcda88;
  }
  
  main div:nth-child(81) {
	background: #16c49f;
  }
  
  main div:nth-child(82) {
	background: #8b4fc5;
  }
  
  main div:nth-child(83) {
	background: #95eb80;
  }
  
  main div:nth-child(84) {
	background: #0d4c80;
  }
  
  main div:nth-child(85) {
	background: #72ab93;
  }
  
  main div:nth-child(86) {
	background: #aebc90;
  }
  
  main div:nth-child(87) {
	background: #e11e5f;
  }
  
  main div:nth-child(88) {
	background: #a05945;
  }
  
  main div:nth-child(89) {
	background: #d740a0;
  }
  
  main div:nth-child(90) {
	background: #c1a3d0;
  }
  
  main div:nth-child(91) {
	background: #313750;
  }
  
  main div:nth-child(92) {
	background: #047340;
  }
  
  main div:nth-child(93) {
	background: #cef186;
  }
  
  main div:nth-child(94) {
	background: #0dcea6;
  }
  
  main div:nth-child(95) {
	background: #684c75;
  }
  
  main div:nth-child(96) {
	background: #bde1d3;
  }
  
  main div:nth-child(97) {
	background: #26e46b;
  }
  
  main div:nth-child(98) {
	background: #fd26b5;
  }
  
  main div:nth-child(99) {
	background: #fa1d38;
  }
  
  main div:nth-child(100) {
	background: #806a9f;
  }
  
  main div:nth-child(101) {
	background: #cdc26a;
  }
  
  main div:nth-child(102) {
	background: #2d24cc;
  }
  
  main div:nth-child(103) {
	background: #8bad4f;
  }
  
  main div:nth-child(104) {
	background: #aa9327;
  }
  
  main div:nth-child(105) {
	background: #2ce39f;
  }
  
  main div:nth-child(106) {
	background: #4bc9d8;
  }
  
  main div:nth-child(107) {
	background: #9a744f;
  }
  
  main div:nth-child(108) {
	background: #47807e;
  }
  
  main div:nth-child(109) {
	background: #7c2919;
  }
  
  main div:nth-child(110) {
	background: #f7e3b4;
  }
  
  main div:nth-child(111) {
	background: #beada4;
  }
  
  main div:nth-child(112) {
	background: #2ad6f6;
  }
  
  main div:nth-child(113) {
	background: #8a9a56;
  }
  
  main div:nth-child(114) {
	background: #199735;
  }
  
  main div:nth-child(115) {
	background: #b3f491;
  }
  
  main div:nth-child(116) {
	background: #05feab;
  }
  
  main div:nth-child(117) {
	background: #b24166;
  }
  
  main div:nth-child(118) {
	background: #cf6390;
  }
  
  main div:nth-child(119) {
	background: #380618;
  }
  
  main div:nth-child(120) {
	background: #f5be64;
  }
  
  main div:nth-child(121) {
	background: #74f88d;
  }
  
  main div:nth-child(122) {
	background: #301474;
  }
  
  main div:nth-child(123) {
	background: #2da556;
  }
  
  main div:nth-child(124) {
	background: #559fb7;
  }
  
  main div:nth-child(125) {
	background: #e561a0;
  }
  
  main div:nth-child(126) {
	background: #3539b6;
  }
  
  main div:nth-child(127) {
	background: #afb58c;
  }
  
  main div:nth-child(128) {
	background: #051887;
  }
  
  main div:nth-child(129) {
	background: #290a20;
  }
  
  main div:nth-child(130) {
	background: #c06961;
  }
  
  main div:nth-child(131) {
	background: #9f9fc9;
  }
  
  main div:nth-child(132) {
	background: #068a1d;
  }
  
  main div:nth-child(133) {
	background: #686cf7;
  }
  
  main div:nth-child(134) {
	background: #e8a1c7;
  }
  
  main div:nth-child(135) {
	background: #805dd8;
  }
  
  main div:nth-child(136) {
	background: #09e842;
  }
  
  main div:nth-child(137) {
	background: #7fa0df;
  }
  
  main div:nth-child(138) {
	background: #09b6ca;
  }
  
  main div:nth-child(139) {
	background: #8959e4;
  }
  
  main div:nth-child(140) {
	background: #700e48;
  }
  
  main div:nth-child(141) {
	background: #c33b40;
  }
  
  main div:nth-child(142) {
	background: #726890;
  }
  
  main div:nth-child(143) {
	background: #a94322;
  }
  
  main div:nth-child(144) {
	background: #7eb90c;
  }
  
  main div:nth-child(145) {
	background: #9e9604;
  }
  
  main div:nth-child(146) {
	background: #ed8fce;
  }
  
  main div:nth-child(147) {
	background: #254c3d;
  }
  
  main div:nth-child(148) {
	background: #2fbe48;
  }
  
  main div:nth-child(149) {
	background: #3ff197;
  }
  
  main div:nth-child(150) {
	background: #46dd60;
  }
  
  main div:nth-child(151) {
	background: #6a025f;
  }
  
  main div:nth-child(152) {
	background: #c51a2c;
  }
  
  main div:nth-child(153) {
	background: #c848b7;
  }
  
  main div:nth-child(154) {
	background: #d9e366;
  }
  
  main div:nth-child(155) {
	background: #4831ba;
  }
  
  main div:nth-child(156) {
	background: #f410c2;
  }
  
  main div:nth-child(157) {
	background: #85264e;
  }
  
  main div:nth-child(158) {
	background: #132cd1;
  }
  
  main div:nth-child(159) {
	background: #9d7e1c;
  }
  
  main div:nth-child(160) {
	background: #081182;
  }
  
  main div:nth-child(161) {
	background: #de647b;
  }
  
  main div:nth-child(162) {
	background: #f00fce;
  }
  
  main div:nth-child(163) {
	background: #7816c5;
  }
  
  main div:nth-child(164) {
	background: #b983c2;
  }
  
  main div:nth-child(165) {
	background: #8a9eb2;
  }
  
  main div:nth-child(166) {
	background: #9e73b5;
  }
  
  main div:nth-child(167) {
	background: #a803a3;
  }
  
  main div:nth-child(168) {
	background: #c82ab9;
  }
  
  main div:nth-child(169) {
	background: #ecf243;
  }
  
  main div:nth-child(170) {
	background: #52bc51;
  }
  
  main div:nth-child(171) {
	background: #fe9729;
  }
  
  main div:nth-child(172) {
	background: #b331f8;
  }
  
  main div:nth-child(173) {
	background: #7bb83b;
  }
  
  main div:nth-child(174) {
	background: #e3eefa;
  }
  
  main div:nth-child(175) {
	background: #16a738;
  }
  
  main div:nth-child(176) {
	background: #973fa2;
  }
  
  main div:nth-child(177) {
	background: #f6aef2;
  }
  
  main div:nth-child(178) {
	background: #2a7728;
  }
  
  main div:nth-child(179) {
	background: #3a32b9;
  }
  
  main div:nth-child(180) {
	background: #f50806;
  }
  
  main div:nth-child(181) {
	background: #69df82;
  }
  
  main div:nth-child(182) {
	background: #9da30b;
  }
  
  main div:nth-child(183) {
	background: #968ef4;
  }
  
  main div:nth-child(184) {
	background: #b210f4;
  }
  
  main div:nth-child(185) {
	background: #7f6060;
  }
  
  main div:nth-child(186) {
	background: #e5dabe;
  }
  
  main div:nth-child(187) {
	background: #73a5a3;
  }
  
  main div:nth-child(188) {
	background: #0cbabd;
  }
  
  main div:nth-child(189) {
	background: #ea7843;
  }
  
  main div:nth-child(190) {
	background: #0f30aa;
  }
  
  main div:nth-child(191) {
	background: #699901;
  }
  
  main div:nth-child(192) {
	background: #b58489;
  }
  
  main div:nth-child(193) {
	background: #dffa87;
  }
  
  main div:nth-child(194) {
	background: #3532c5;
  }
  
  main div:nth-child(195) {
	background: #43e507;
  }
  
  main div:nth-child(196) {
	background: #991eed;
  }
  
  main div:nth-child(197) {
	background: #93c4f6;
  }
  
  main div:nth-child(198) {
	background: #9d173c;
  }
  
  main div:nth-child(199) {
	background: #8cde98;
  }
  
  main div:nth-child(200) {
	background: #eb8856;
  }
  
  main div:nth-child(201) {
	background: #9f8496;
  }
  
  main div:nth-child(202) {
	background: #0b07e8;
  }
  
  main div:nth-child(203) {
	background: #8c7d4a;
  }
  
  main div:nth-child(204) {
	background: #fc7c05;
  }
  
  main div:nth-child(205) {
	background: #396de5;
  }
  
  main div:nth-child(206) {
	background: #50053d;
  }
  
  main div:nth-child(207) {
	background: #8c88de;
  }
  
  main div:nth-child(208) {
	background: #78e4bf;
  }
  
  main div:nth-child(209) {
	background: #cc41a8;
  }
  
  main div:nth-child(210) {
	background: #2ad75a;
  }
  
  main div:nth-child(211) {
	background: #effc33;
  }
  
  main div:nth-child(212) {
	background: #98c9af;
  }
  
  main div:nth-child(213) {
	background: #bc1ea5;
  }
  
  main div:nth-child(214) {
	background: #bb6e87;
  }
  
  main div:nth-child(215) {
	background: #618411;
  }
  
  main div:nth-child(216) {
	background: #2fbeff;
  }
  
  main div:nth-child(217) {
	background: #711011;
  }
  
  main div:nth-child(218) {
	background: #f75c89;
  }
  
  main div:nth-child(219) {
	background: #178632;
  }
  
  main div:nth-child(220) {
	background: #14714f;
  }
  
  main div:nth-child(221) {
	background: #560bb9;
  }
  
  main div:nth-child(222) {
	background: #1f8e65;
  }
  
  main div:nth-child(223) {
	background: #a27097;
  }
  
  main div:nth-child(224) {
	background: #42e0d3;
  }
  
  main div:nth-child(225) {
	background: #73711b;
  }
  
  main div:nth-child(226) {
	background: #bf0a75;
  }
  
  main div:nth-child(227) {
	background: #ab2ef5;
  }
  
  main div:nth-child(228) {
	background: #d53590;
  }
  
  main div:nth-child(229) {
	background: #c4ed05;
  }
  
  main div:nth-child(230) {
	background: #4b33dc;
  }
  
  main div:nth-child(231) {
	background: #4de829;
  }
  
  main div:nth-child(232) {
	background: #1f1209;
  }
  
  main div:nth-child(233) {
	background: #57dc79;
  }
  
  main div:nth-child(234) {
	background: #917376;
  }
  
  main div:nth-child(235) {
	background: #974581;
  }
  
  main div:nth-child(236) {
	background: #0fa22b;
  }
  
  main div:nth-child(237) {
	background: #fa092c;
  }
  
  main div:nth-child(238) {
	background: #a2f465;
  }
  
  main div:nth-child(239) {
	background: #1f8a67;
  }
  
  main div:nth-child(240) {
	background: #16eb6a;
  }
  
  main div:nth-child(241) {
	background: #adeaab;
  }
  
  main div:nth-child(242) {
	background: #778da1;
  }
  
  main div:nth-child(243) {
	background: #c41153;
  }
  
  main div:nth-child(244) {
	background: #55f6a3;
  }
  
  main div:nth-child(245) {
	background: #bb7437;
  }
  
  main div:nth-child(246) {
	background: #d5999d;
  }
  
  main div:nth-child(247) {
	background: #8d3479;
  }
  
  main div:nth-child(248) {
	background: #a7cddd;
  }
  
  main div:nth-child(249) {
	background: #39f485;
  }
  
  main div:nth-child(250) {
	background: #c45f91;
  }
  
  main div:nth-child(251) {
	background: #6d09c9;
  }
  
  main div:nth-child(252) {
	background: #3ad10e;
  }
  
  main div:nth-child(253) {
	background: #d949b7;
  }
  
  main div:nth-child(254) {
	background: #4c8e97;
  }
  
  main div:nth-child(255) {
	background: #8913a8;
  }
  
  main div:nth-child(256) {
	background: #f73e66;
  }
  
  main div:nth-child(257) {
	background: #8e4edd;
  }
  
  main div:nth-child(258) {
	background: #47ffdd;
  }
  
  main div:nth-child(259) {
	background: #556be6;
  }
  
  main div:nth-child(260) {
	background: #cc68d4;
  }
  
  main div:nth-child(261) {
	background: #922d21;
  }
  
  main div:nth-child(262) {
	background: #8102ba;
  }
  
  main div:nth-child(263) {
	background: #074309;
  }
  
  main div:nth-child(264) {
	background: #d535c4;
  }
  
  main div:nth-child(265) {
	background: #829836;
  }
  
  main div:nth-child(266) {
	background: #c57462;
  }
  
  main div:nth-child(267) {
	background: #0751ff;
  }
  
  main div:nth-child(268) {
	background: #1628c1;
  }
  
  main div:nth-child(269) {
	background: #310d6f;
  }
  
  main div:nth-child(270) {
	background: #8318d7;
  }
  
  main div:nth-child(271) {
	background: #aded56;
  }
  
  main div:nth-child(272) {
	background: #49cafb;
  }
  
  main div:nth-child(273) {
	background: #84543f;
  }
  
  main div:nth-child(274) {
	background: #25511c;
  }
  
  main div:nth-child(275) {
	background: #0905f7;
  }
  
  main div:nth-child(276) {
	background: #2c69ea;
  }
  
  main div:nth-child(277) {
	background: #91ddc7;
  }
  
  main div:nth-child(278) {
	background: #657fa6;
  }
  
  main div:nth-child(279) {
	background: #c1b873;
  }
  
  main div:nth-child(280) {
	background: #b762f6;
  }
  
  main div:nth-child(281) {
	background: #ac9851;
  }
  
  main div:nth-child(282) {
	background: #c43c32;
  }
  
  main div:nth-child(283) {
	background: #25b529;
  }
  
  main div:nth-child(284) {
	background: #b4d29e;
  }
  
  main div:nth-child(285) {
	background: #58112c;
  }
  
  main div:nth-child(286) {
	background: #d5cf32;
  }
  
  main div:nth-child(287) {
	background: #2eeb7a;
  }
  
  main div:nth-child(288) {
	background: #e2bdd2;
  }
  
  main div:nth-child(289) {
	background: #f31e18;
  }
  
  main div:nth-child(290) {
	background: #7c2d63;
  }
  
  main div:nth-child(291) {
	background: #e46268;
  }
  
  main div:nth-child(292) {
	background: #ac4a90;
  }
  
  main div:nth-child(293) {
	background: #af487e;
  }
  
  main div:nth-child(294) {
	background: #14a6ff;
  }
  
  main div:nth-child(295) {
	background: #c916ed;
  }
  
  main div:nth-child(296) {
	background: #b4f9b5;
  }
  
  main div:nth-child(297) {
	background: #f94942;
  }
  
  main div:nth-child(298) {
	background: #b8b3af;
  }
  
  main div:nth-child(299) {
	background: #82b69d;
  }
  
  main div:nth-child(300) {
	background: #04bebe;
  }
  
  main div:nth-child(301) {
	background: #c7d957;
  }
  
  main div:nth-child(302) {
	background: #be67ee;
  }
  
  main div:nth-child(303) {
	background: #55895c;
  }
  
  main div:nth-child(304) {
	background: #aa97e2;
  }
  
  main div:nth-child(305) {
	background: #b85918;
  }
  
  main div:nth-child(306) {
	background: #55b244;
  }
  
  main div:nth-child(307) {
	background: #3b9fd2;
  }
  
  main div:nth-child(308) {
	background: #e950bd;
  }
  
  main div:nth-child(309) {
	background: #2831b4;
  }
  
  main div:nth-child(310) {
	background: #b7662a;
  }
  
  main div:nth-child(311) {
	background: #e2f635;
  }
  
  main div:nth-child(312) {
	background: #ce0591;
  }
  
  main div:nth-child(313) {
	background: #a1563e;
  }
  
  main div:nth-child(314) {
	background: #ffe519;
  }
  
  main div:nth-child(315) {
	background: #16c798;
  }
  
  main div:nth-child(316) {
	background: #728354;
  }
  
  main div:nth-child(317) {
	background: #7da8ba;
  }
  
  main div:nth-child(318) {
	background: #57c086;
  }
  
  main div:nth-child(319) {
	background: #103f16;
  }
  
  main div:nth-child(320) {
	background: #907937;
  }
  
  main div:nth-child(321) {
	background: #4f39da;
  }
  
  main div:nth-child(322) {
	background: #6e8b75;
  }
  
  main div:nth-child(323) {
	background: #8dc062;
  }
  
  main div:nth-child(324) {
	background: #884022;
  }
  
  main div:nth-child(325) {
	background: #b04075;
  }
  
  main div:nth-child(326) {
	background: #94cf91;
  }
  
  main div:nth-child(327) {
	background: #bf930f;
  }
  
  main div:nth-child(328) {
	background: #b08266;
  }
  
  main div:nth-child(329) {
	background: #290af5;
  }
  
  main div:nth-child(330) {
	background: #14e901;
  }
  
  main div:nth-child(331) {
	background: #ceae96;
  }
  
  main div:nth-child(332) {
	background: #d7c391;
  }
  
  main div:nth-child(333) {
	background: #614ca4;
  }
  
  main div:nth-child(334) {
	background: #52731e;
  }
  
  main div:nth-child(335) {
	background: #ef76fb;
  }
  
  main div:nth-child(336) {
	background: #cf42d3;
  }
  
  main div:nth-child(337) {
	background: #7c95e8;
  }
  
  main div:nth-child(338) {
	background: #55ff31;
  }
  
  main div:nth-child(339) {
	background: #4e60d4;
  }
  
  main div:nth-child(340) {
	background: #931af4;
  }
  
  main div:nth-child(341) {
	background: #3e673e;
  }
  
  main div:nth-child(342) {
	background: #6ee807;
  }
  
  main div:nth-child(343) {
	background: #d5dd7b;
  }
  
  main div:nth-child(344) {
	background: #c9ff55;
  }
  
  main div:nth-child(345) {
	background: #47a13c;
  }
  
  main div:nth-child(346) {
	background: #83fb76;
  }
  
  main div:nth-child(347) {
	background: #4f52dd;
  }
  
  main div:nth-child(348) {
	background: #6ae545;
  }
  
  main div:nth-child(349) {
	background: #ee13e7;
  }
  
  main div:nth-child(350) {
	background: #406b5e;
  }
  
  main div:nth-child(351) {
	background: #a2a7c8;
  }
  
  main div:nth-child(352) {
	background: #242c73;
  }
  
  main div:nth-child(353) {
	background: #d66413;
  }
  
  main div:nth-child(354) {
	background: #c453d1;
  }
  
  main div:nth-child(355) {
	background: #33bf5e;
  }
  
  main div:nth-child(356) {
	background: #69c8e5;
  }
  
  main div:nth-child(357) {
	background: #ad6466;
  }
  
  main div:nth-child(358) {
	background: #b1ccef;
  }
  
  main div:nth-child(359) {
	background: #e291a5;
  }
  
  main div:nth-child(360) {
	background: #383cca;
  }
  
  main div:nth-child(361) {
	background: #419413;
  }
  
  main div:nth-child(362) {
	background: #2f6c82;
  }
  
  main div:nth-child(363) {
	background: #41c658;
  }
  
  main div:nth-child(364) {
	background: #58e4e4;
  }
  
  main div:nth-child(365) {
	background: #8d4d4a;
  }
  
  main div:nth-child(366) {
	background: #35eded;
  }
  
  main div:nth-child(367) {
	background: #fa7d19;
  }
  
  main div:nth-child(368) {
	background: #cbcbc5;
  }
  
  main div:nth-child(369) {
	background: #fea380;
  }
  
  main div:nth-child(370) {
	background: #5afe14;
  }
  
  main div:nth-child(371) {
	background: #5c3986;
  }
  
  main div:nth-child(372) {
	background: #ce706f;
  }
  
  main div:nth-child(373) {
	background: #d26f1a;
  }
  
  main div:nth-child(374) {
	background: #aea1f1;
  }
  
  main div:nth-child(375) {
	background: #352844;
  }
  
  main div:nth-child(376) {
	background: #b9926a;
  }
  
  main div:nth-child(377) {
	background: #8b3556;
  }
  
  main div:nth-child(378) {
	background: #3af103;
  }
  
  main div:nth-child(379) {
	background: #27dfae;
  }
  
  main div:nth-child(380) {
	background: #87d45d;
  }
  
  main div:nth-child(381) {
	background: #4e59a8;
  }
  
  main div:nth-child(382) {
	background: #70ff20;
  }
  
  main div:nth-child(383) {
	background: #07b610;
  }
  
  main div:nth-child(384) {
	background: #524c20;
  }
  
  main div:nth-child(385) {
	background: #ecf50e;
  }
  
  main div:nth-child(386) {
	background: #52d5cc;
  }
  
  main div:nth-child(387) {
	background: #ee445c;
  }
  
  main div:nth-child(388) {
	background: #5f011d;
  }
  
  main div:nth-child(389) {
	background: #865e15;
  }
  
  main div:nth-child(390) {
	background: #2cbfe2;
  }
  
  main div:nth-child(391) {
	background: #048338;
  }
  
  main div:nth-child(392) {
	background: #5ea749;
  }
  
  main div:nth-child(393) {
	background: #c83460;
  }
  
  main div:nth-child(394) {
	background: #487a5d;
  }
  
  main div:nth-child(395) {
	background: #4634d0;
  }
  
  main div:nth-child(396) {
	background: #49a3e0;
  }
  
  main div:nth-child(397) {
	background: #349b04;
  }
  
  main div:nth-child(398) {
	background: #d217c3;
  }
  
  main div:nth-child(399) {
	background: #c34056;
  }
  
  main div:nth-child(400) {
	background: #fb6656;
  }
  
  body {
	margin: 1vw 0 0 1vw;
	color: #222;
	font-family: Bungee;
	font-size: 2vw;
	text-shadow: 1px 2px #eee;
  }
  
  main {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
  }
  
  div {
	box-sizing: border-box;
	border-right: 1vw solid #fff;
	border-bottom: 1vw solid #fff;
	width: 100%;
	min-height: 12.5vw;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
			justify-content: center;
	-webkit-box-align: center;
			align-items: center;
  }
  div:not(:empty) {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  }
  div:not(:empty).big {
	top: 12.5vw;
  }
  
  .big {
	grid-column-end: span 2;
	grid-row-end: span 2;
  }
  
  .extrabig {
	grid-column-end: span 3;
	grid-row-end: span 3;
  }
  
  .superbig {
	grid-column-end: span 4;
	grid-row-end: span 4;
	font-size: 2em;
  }